.featured_collections_section {
  width: 100%;
  margin-top: 8rem;
}

.featured_header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5rem; 
}

.featured_scroll {
  padding: 0rem 2rem;
  margin-top: 2rem; 
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; 
}

.featured_scroll::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.featured_card {
  width: 20vw;
  flex-shrink: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.featured_card:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.featured_img_wrapper {
  width: 100%;
  aspect-ratio: 5 / 6;
}

.featured_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured_card_info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem; /* 12px */
  justify-content: space-between;
}

.featured_item_price {
  opacity: 0.7;
}
