.info_header {
    background-color: #174D38;
    height: 2.25rem;
}
.info_header p{
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.info_header p:hover{
    text-decoration: underline;
}

.home_hero{
    color: white;
    position: relative;
    width: 100%;
    height: calc(100vh - 2.25rem);
    background-image: url(../../../../public/images/homepage/heroBg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home_hero_inner{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}
.green_button{
    margin-top: 2rem;
    padding: .75rem 6rem;
    background-color: #174D38;
    color: white;
}