.socialCard_section {
    margin: 4rem 0rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.socialCard_box {
  position: relative;
  width: 100%;
  aspect-ratio: 5/8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem; /* 32px */
  overflow: hidden;
}

.socialCard_image_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.socialCard_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

