.products_hero-section {
  width: 100%;
  height: 0;
  display: flex;
  align-items: flex-end;
  padding: 2rem 2rem;
  position: relative;
}
.products_hero-img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}
.products_content {
  color: black;
  width: 100%;
  z-index: 9;
  padding-block: 2rem;
  background-color: #ffffff;
}

.products_content h2 {
  margin-bottom: 0.75rem;
}

.products_content p {
  line-height: 1.25rem;
}

.products_header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

.allproducts_paren {
  flex-shrink: 0;
  width: 100%;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.allproducts_paren .shopCard_card:nth-child(1) {
  border-left: 1px solid #e6e6e6;
}
.allproducts_paren .shopCard_card:last-child {
  border-right: 1px solid #e6e6e6;
}
.allproducts_paren .shopCard_card:nth-child(1),
.allproducts_paren .shopCard_card:nth-child(2),
.allproducts_paren .shopCard_card:nth-child(3),
.allproducts_paren .shopCard_card:nth-child(4) {
  border-top: 1px solid #e6e6e6;
}

@media (min-width: 750px) {
  .products_hero-section {
    width: 100%;
    height: 0rem;
    display: flex;
    align-items: flex-end;
    padding: 3rem 0rem;
    position: relative;
  }

  .products_content {
  width: 40rem;
  padding-block: 3rem;
  margin-left: 3rem;
}
  .products_content h2 {
    margin-bottom: 1.5rem;
  }

  .products_header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
  }

  .allproducts_paren {
    flex-shrink: 0;
    width: 100%;
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
