@import "./fontSetting.css";

@import "./components/common/header.css";
@import "./components/common/footer.css";


@import "./components/home/hero.css";
@import "./components/home/category.css";
@import "./components/home/featuredCollection.css";
@import "./components/home/lookBook.css";
@import "./components/home/socialReels.css";


